@media only screen and (max-width: 1200px) {
  /* these rules apply when width from 1024 to 1200 */
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  /* these rules apply when width from 768 to 1023px ipad landscape */
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
  }
  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .works-box {
    margin-bottom: 40px;
  }
  .works-box:last-of-type {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 50%;
  }
  .icon-small {
    width: 17px;
    margin-right: 5px;
  }
  .city-feature {
    font-size: 90%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  /* these rules apply when width is 481>= and <= 767px ipad*/
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
  }
  .main-nav {
    display: none;
  }
  .long-copy {
    width: 100%;
    margin-left: 0;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .works-box {
    margin-bottom: 20px;
  }
  .works-box:last-of-type {
    margin-bottom: 20px;
  }
  .works-step > div {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    font-size: 120%;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .app-screen {
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  /* these rules apply when width is <= 480px iphone*/
}
